@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Area+Normal:wght@700&family=Inter:wght@400&family=Martian+Mono:wght@500&display=swap");

html {
  font-family: "Inter", sans-serif; /* Fallback font */
}

body {
  font-family: "Inter", sans-serif;
}

.font-heading {
  font-family: "Area Normal", sans-serif;
}

.font-button {
  font-family: "Martian Mono", monospace;
}
